.btn-wrapper{
    padding: 0.8rem !important;
    margin: 0.5rem !important;
    border: none;
    outline: none;
    background-color: #087EA4 !important;
    color: white;
    border-radius: 0.5rem;
    min-width: 13rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.btn-wrapper:hover{
    background-color: #3796B5 !important;
}