.message{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 24rem;
    aspect-ratio: 16/7;
    border-radius: 0.5rem;
}

.messageBtn{
    position: absolute;
    top: 2%;
    right: 2%;
    outline: none;
    border: none;
    background-color: transparent;
}

.btnCloseMessage{
    min-width: 8rem;
    position: absolute;
    bottom: 1%;
    right: 2%;
    padding: 0.4rem !important;
}

